.App {
  position: fixed;
  right: 5%;
  bottom: 0;
  z-index: 2;
  /* color: #4e5d61; */
}

.Users {
  position: absolute;
  /* color: #6ec3e4; */
}
/* example of how a user will implement their own styling of our component */
